<ngx-spinner bdOpacity=0.9 bdColor="#fff" template="<img src='assets/loader.gif' />">
    <div style="margin-top:20px">
        Loading...
    </div>
</ngx-spinner>
<ngx-spinner name="loading" bdOpacity=0.9 bdColor="#fff" template="<img src='assets/loader.gif' />">
    <div style="margin-top:20px">
        Is preparing for you, please wait!
    </div>
</ngx-spinner>

<div class="container">
    <div class="box">
        <h4 class="text-center">Login Page</h4>
        <form action="#" class="form-horizontal" [formGroup]="form" (ngSubmit)="signin()">
            <div class="form-group">
                <label for="">Email</label>
                <div class="input-group">
                    <input type="email" autocomplete="off" name="email" placeholder="Enter your email" formControlName="email" class="form-control" required>
                </div>
                <div *ngIf="!form.value.email && errorEmail">
                    <div style="margin-top:10px" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> Email is required.
                        <button type="button" class="close" (click)="errorEmail=false" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="">Password</label>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Enter your password" formControlName="password" class="form-control" required>
                </div>
                <div *ngIf="!form.value.password && errorPassword">
                    <div style="margin-top:10px" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> Password is required.
                        <button type="button" class="close" (click)="errorPassword=false" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="input-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="#" routerLink="/account/register" class="left-margin">Sign Up here!</a>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button type="button" (click)="loginWithGoogle()" class="btn btn-danger btn-block">Login with Google Account</button>
                </div>
            </div>
        </form>
    </div>
</div>
