.body {
    margin: -15px;
    padding: 0px;
    height: 100vmin;
    overflow-y: auto;
    background-color: #eee !important;
}

.menu {
    width: 80%;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
    background: #eee;
}

.menu:hover {
    background-color: #ddd;
}

.box-data-empty {
    margin: 0px auto;
    width: 100%;
    min-height: 200px;
    vertical-align: middle;
    padding: 10px;
    background-color: #ffffff;
    border: 2px dashed #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.box-data {
    margin: 0px auto;
    width: 100%;
    min-height: 200px;
    vertical-align: middle;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.box {
    margin-top: 20px;
}

.content-form {
    width: 80%;
    margin: 0px auto;
}

.selectSearch {
    position: absolute;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1000;
    background: #fff
}

.selectItemRoom {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.img-room {
    max-height: 200px;
}